*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: aquamarine;
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.piano {
	display: flex;
}

.key {
	font-family: "Courier New", Courier, monospace;
	display: flex;
	align-items: flex-end;
    justify-content: center;
    font-size: larger;
}

.white {
	width: 100px;
	height: 400px;
	background-color: white;
	border: 1px solid black;
}

.white.active {
	background-color: rgb(236, 236, 236);
}

.black {
	width: 60px;
	height: 240px;
	background-color: black;
	margin: 0 -30px;
	z-index: 1;
	color: white;
}

.black.active {
	background-color: rgb(70, 70, 70);
}
